<html lang="en">

<head>
  <title>SJC Add Community</title>
  </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- Custom styles for this template -->
  <link rel="shortcut icon" href=http://www.freshdesignweb.com/wp-content/themes/fv24/images/icon.ico />
  <!--<link rel="stylesheet" type="text/css" href="stylesheets/addCandidate.css" media="all" />
  -->
</head>

<body class="text-center" data-gr-c-s-loaded="true">

  <% include navbar.ejs %>

  <div class="jumbotron">
    <form method="post">

      <div class="col-md-12">
        <label for="inputCommunityAddress">Community Address</label>
        <div class="form-group" id="inputCommunityAddress">
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputCommunityName">Community Name</label>
              <input type="text" class="form-control" id="inputCommunityName" name="communityName">
            </div>
            <div class="form-group col-md-4">
              <label for="inputCommunitySaint">Patron Saint</label>
              <input type="text" class="form-control" id="inputCommunitySaint" name="communitySaint">
            </div>
            <div class="form-group col-md-4">
              <label for="inputCommunityPhone">Phone Number</label>
              <input type="text" class="form-control" id="inputCommunityPhone" name="communityPhone">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-2">
              <label for="inputHouseNumber2">No.</label>
              <input type="text" class="form-control" id="inputHouseNumber2" placeholder="House Number" name="houseNumber2">
            </div>
            <div class="form-group col-md-10">
              <label for="inputStreet2">Street</label>
              <input type="text" class="form-control" id="inputStreet2" placeholder="Street Name" name="street2">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputWard2">Ward</label>
              <input type="text" class="form-control" id="inputWard2" name="ward2">
            </div>
            <div class="form-group col-md-6">
              <label for="inputDistrict2">District</label>
              <input type="text" class="form-control" id="inputDistrict2" name="district2">
            </div>
            <div class="form-group col-md-6">
              <label for="inputCity2">City</label>
              <input type="text" class="form-control" id="inputCity2" name="city2">
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>