<!DOCTYPE html>
<html lang="en">

<head>
  <title>SJC Sign-In</title>
  </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- Custom styles for this template -->
  <link rel="shortcut icon" href=http://www.freshdesignweb.com/wp-content/themes/fv24/images/icon.ico />
  <link rel="stylesheet" type="text/css" href="stylesheets/styles.css" media="all" />
  <link rel="stylesheet" type="text/css" href="stylesheets/demo.css" media="all" />
</head>

<body class="text-center" data-gr-c-s-loaded="true">

  <% include navbar.ejs %>

  <header>
    <div id="fdw-pricing-table">
      <div class="plan plan1">
        <div class="header">Community</div>
        <div class="price">
          <img src="/images/christian-church.png" width="50" height="50" alt="">
        </div>
        <div class="monthly">per month</div>
        <a class="signup" href="">Click here</a>
      </div>
      <div class="plan plan2">
        <div class="header">Candidates</div>
        <div class="price">
          <img src="/images/christian-saint.png" width="50" height="50" alt="">
        </div>
        <div class="monthly">per month</div>
        <a class="signup" href="">Click here</a>
      </div>
      <div class="plan plan3">
        <div class="header">Companions</div>
        <div class="price">
          <img src="/images/the-good-shepherd.png" width="50" height="50" alt="">
        </div>
        <div class="monthly">per month</div>
        <a class="signup" href="">Click here</a>
      </div>
    </div>
    
    <div id="fdw-pricing-table">
      <div class="plan plan1">
        <div class="header">Specialization</div>
        <div class="price">
          <img src="/images/holy-ghost.png" width="50" height="50" alt="">
        </div>
        <div class="monthly">per month</div>
        <a class="signup" href="">Click here</a>
      </div>
      <div class="plan plan2">
        <div class="header">Address</div>
        <div class="price">
          <img src="/images/ten-commandment.png" width="50" height="50" alt="">
        </div>
        <div class="monthly">per month</div>
        <a class="signup" href="">Click here</a>
      </div>
      <div class="plan plan3">
        <div class="header">Types</div>
        <div class="price">
          <img src="/images/sacred-heart.png" width="50" height="50" alt="">
        </div>
        <div class="monthly">per month</div>
        <a class="signup" href="">Click here</a>
      </div>
    </div>
    
    <div id="fdw-pricing-table">
      <div class="plan plan1" id="blankDiv1">

      </div>
      <div class="plan plan2">
        <div class="header">Statistics</div>
        <div class="price">
          <img src="/images/holy-bible.png" width="50" height="50" alt="">
        </div>
        <div class="monthly">per month</div>
        <a class="signup" href="">Click here</a>
      </div>
      <div class="plan plan3" id="blankDiv2">

      </div>
    </div>
  </header>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>