<!DOCTYPE html>
<html>

<head>
  <title>SJC Sign-In</title>
  </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" type="text/css" href="stylesheets/login.css">
</head>

<body class="text-center" data-gr-c-s-loaded="true">

  <!-- This is the container -->
  <div class="container jumbotron">
    <form class="form-signin">

      <!-- SJC Logo -->
      <img class="mb-4" src="/images/SJCandidate.png" alt="SJC logo" width="72" height="72">

      <!-- Please Sign In -->
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

      <!-- Email Input -->
      <div class="mx-sm-3 mb-2">
        <label for="inputEmail" class="sr-only" style="width: 200px;">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
      </div>

      <!-- Password Input -->
      <div class="mx-sm-3 mb-2">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
      </div>

      <!-- Remember Me Checkbox -->
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>

      <!-- Submit Button -->
      <button class="btn btn-lg btn-primary btn-block mx-sm-auto" type="submit">Sign in</button>

      <!-- Copyright? need much? -->
      <p class="mt-5 mb-3 text-muted">© 2017-2019</p>
    </form>
  </div>


  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>