<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <!-- SJC Logo and name -->
    <a class="navbar-brand" href="/homepage">
        <img src="/images/SJCandidate.png" width="30" height="30" class="d-inline-block align-top" alt="">
        SJ Candidate
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

            <!-- Home Link -->
            <li class="nav-item active">
                <a class="nav-link" href="/homepage">Home <span class="sr-only">(current)</span></a>
            </li>

            <!-- Previous Candidates Link -->
            <li class="nav-item">
                <a class="nav-link" href="#">Ex-Candidates</a>
            </li>

            <!-- Priest Info Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Priest Information
                </a>
            </li>

            <!-- Add Person Dropdown-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add Person
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="addcandidate">Candidate</a>
                    <a class="dropdown-item" href="#">Priest</a>
                </div>
            </li>

        </ul>
    </div>

</nav>