<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <!-- SJC Logo and name -->
    <a class="navbar-brand" href="/">
        <img src="/images/SJCandidate.png" width="30" height="30" class="d-inline-block align-top" alt="">
        SJ Candidate
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

            <!-- Home Link -->
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>

            <!-- Communities Link -->
            <li class="nav-item">
                <a class="nav-link" href="/communities">Communities</a>
            </li>

            <!-- Candidates Link -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkCandidates" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Candidates
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkCandidates">
                    <a class="dropdown-item" href="/candidates">All</a>
                    <a class="dropdown-item" href="/candidatetypes">Candidate Types</a>
                </div>
            </li>

            <!-- Companions Info Dropdown -->
            <li class="nav-item">
                <a class="nav-link" href="/companions">Companions</a>
            </li>

            <!-- Major link -->
            <li class="nav-item">
                <a class="nav-link" href="/specializedmajor">Specialized Major</a>
            </li>

            <!-- Address link -->
            <li class="nav-item">
                <a class="nav-link" href="/addresses">Regional Addresses</a>
            </li>

            <!-- Add Person Dropdown-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkAdd" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkAdd">
                    <a class="dropdown-item" href="/addcommunity">Community</a>
                    <a class="dropdown-item" href="/addcandidate">Candidate</a>
                    <a class="dropdown-item" href="#">Companion</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/login">Sign out</a>
            </li>

        </ul>
    </div>

    <!-- Search form -->
    <form id="searchForm" class="form-inline ml-auto">
        <div class="md-form my-0">
            <input id="searchInput" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"
                name="searchInput">
        </div>
        <div>
            <label for="searchFilter" hidden>Search Filter</label>
            <select id="searchFilter" class="form-control" name="searchFilter" required>
                <option selected disabled>Search by ..</option>
                <option>Candidate Name</option>
                <option>Community Name</option>
                <option disabled>Companion Name</option>
                <option>University Name</option>
                <option>City Name</option>
            </select>
        </div>
        <button type="button" id="searchButton" onclick="search()"
            class="btn btn-outline-white btn-md my-0 ml-sm-2">Search</button>
    </form>
    </div>
    <!-- Collapsible content -->


    <script>
        function search() {

            $.ajax({
                url: '/search',
                type: 'GET',
                data: {
                    searchFilter: $('#searchFilter').val(),
                    searchValue: $('#searchInput').val()
                },
                // success: function (result) {
                //     window.location.pathname = '/search'
                // }
            });
        }

    </script>

</nav>