<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <!-- SJC Logo and name -->
    <a class="navbar-brand" href="/homepage">
        <img src="/images/SJCandidate.png" width="30" height="30" class="d-inline-block align-top" alt="">
        SJ Candidate
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

            <!-- Home Link -->
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>

            <!-- Communities Link -->
            <li class="nav-item">
                <a class="nav-link" href="/communities">Communities</a>
            </li>

            <!-- Candidates Link -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkCandidates" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Candidates
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkCandidates">
                    <a class="dropdown-item" href="#">Interior</a>
                    <a class="dropdown-item" href="#">Exterior</a>
                    <a class="dropdown-item" href="#">Pre-Novice</a>
                    <a class="dropdown-item" href="#">Ex-candidate</a>
                </div>
            </li>

            <!-- Companions Info Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkCompanions" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Companions
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkCompanions">
                    <a class="dropdown-item" href="#">Formators</a>
                    <a class="dropdown-item" href="#">Spiritual Directors</a>
                </div>
            </li>

            <!-- Add Person Dropdown-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkAdd" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkAdd">
                    <a class="dropdown-item" href="/addcommunity">Community</a>
                    <a class="dropdown-item" href="/addcandidate">Candidate</a>
                    <a class="dropdown-item" href="#">Companion</a>
                </div>
            </li>

        </ul>
    </div>

</nav>